html {
  background-color: rgb(250, 248, 246);
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
}

body {
  font-family: Helvetica,Arial,sans-serif; 
  font-size: 12pt;
}
  
h1 {
  color: rgb(0, 100, 200);
  font-size: 17pt;
  border-bottom: 1px solid rgb(0, 100, 200);
}

h2 {
  color: rgb(0, 100, 200);
  font-size: 20pt;
  margin-top: 0px;
  margin-bottom: 10px;
}

h3 {
  color: rgb(0, 100, 200);
  font-size: 15pt;
  margin-top: 10px;
  margin-bottom: 6px;
}

h4 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 4px;
}

p {
  margin-top: 0px;
  margin-bottom: 8px;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

div.menu span {
  font-size: 11pt;
  color: rgb(0, 100, 200);
  white-space: nowrap;
  text-decoration: none;
}

div.menu span.selected {
  font-weight: bold;
}

div.center {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
}

ol {
  margin-left: 15px;
  margin-top: 0px;
}

ul {
  margin-left: 15px;
  margin-top: 0px;
}

li {
  margin-bottom: 4px;
}

.param {
  font-size: 13pt;
  font-weight:normal;
  font-style:italic;
}

.image-ref {
  font-weight: bold;
  color: rgb(255, 0, 0);
}